header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper {
 width: 85%;
}
.logo-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

}
.logo {
    width: 20%;
    display: flex;
    align-items: flex-end;
    max-height: 63px;
    padding-top: 20px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    

}
.logo span {
    font-size: 43px;
}
.m {
    background-color: #00aedb;
}
.a {
    background-color: #b5da06;
}
.g {
    background-color: #00aedb;
}
.b {
    background-color: #b5da06;
}
.l {
    background-color: #00aedb;
}
.o {
    background-color: #b5da06;
   
}
.g2 {
    background-color: #00aedb;
    
}

.search {
    width: 40%;
}
.text{
    width: 70%;
    height: 35px;
    border: 2px solid #e5e5e5;
    font-size: 20px;
    padding: 0;
}
.button {
    background-color: #00aedb;
    width: 28%;
    height: 39px;
    font-size: 20px;
    padding: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.social {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.internet{
    background-image: url(../../images/iconfinder_3_social_2609563.png);
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    width: 20%;
    cursor: pointer;
    
}
.facebook {
    background-image: url(../../images/iconfinder_facebook.png);
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    width: 20%;
    cursor: pointer;
}
.twiter {
    background-image: url(../../images/iconfinder_twiter-social-network-brand-logo_1826178.png);
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    width: 20%;
    cursor: pointer;
}

@media only screen and (max-width: 850px){
    .button {
        font-size: 15px;
    }
    .social {
        width: 25%;
        justify-content: space-evenly;
    }

}
@media only screen and (max-width: 770px){
    .logo-div {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        width: 50%;
        justify-content: center;
    }
    .search {
        width: 90%;
        padding: 10px;
    }
    .social{
        width: 90%;
        justify-content: center;
    }
}
